.logo{
    color: white;
    text-decoration: none;
    font-size: 200%;
}

.button{
    margin-right: 30px;
}

.auth{
    padding: 5% 5%;
    width: 500px; /* Ширина поля в процентах */
    height: 300px; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
}

.row_auth{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.device{
    width: 150px;
    height: 250px;
    cursor: pointer;
    border-color: brown;
    overflow: hidden;
    border-radius: 20px;
}

.col{
    padding: 20px;
}

.star{
    background: url('./assets/star1.png');
    width: 150px;
    height: 150px;
    align-items: center center;
    background-size: cover;
    font-size: 30px;
}
