.NavBar{
    margin-left: 20px;
}

.Auth{
    margin-top: 150px;
}

.button_log_1{
    margin-left: 75%;
}

.button_log_2{
    margin-left: 57%;
}

.red{
    border-color: brown;
}

.logo_img{
    margin-bottom: 18px;
    margin-right: 5px;
}

.logo{
    color: white;
    font-size: 30px;
    text-decoration: none;
    margin-top: 3px;
}

.logo:hover {
    color: #b6c0dd; /* Цвет ссылки при наведении */ 
    transition: 0.5s;
}

Button:hover{
    transition: 0.4s;
}

.pr-10{
    padding-right: 10px;
}

.address{
    font-size: 30px;
}

.tovar{
    border-radius: 100%;
    border: 2px;
    border-color: black;
}

.Card{
    will-change: transform;
    transition: 0.6s;
}

.Card:hover{
    transform: scale(1.06);
}

.lowPrice{
    margin-top: 5px;
}